<div class="col-lg-10" style="font-size: 12px;margin-left: 240px;margin-top: -5px;" [@fadeLateral]>
	<h3>{{title}}</h3>
	<div class="row">
		<div class="col-lg-1">Buscar:</div>		
		<div class="col-lg-4">
			<input type="text" [(ngModel)]="busqueda" />
		</div>
		<div class="label label-success" *ngIf="busqueda">
			Estas buscando: {{busqueda}}
		</div>
	</div>
	<br/>
	<table class="table table-hover table-striped" style="font-size: 11px;">
		<thead class="thead-default thead-light">
			<tr>
				<th># Proveedor</th>
				<th>Nombre Proveedor</th>
				<th>Saldo</th>
				<th>Corriente</th>
				<th>1-30</th>
				<th>31-60</th>
				<th>61-90</th>
				<th>90-Mas</th>
				<th>Mes</th>
				<th>Año</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let invoice of invoices | search: busqueda">
				<td>{{invoice.num_prov}}</td>
				<td>{{invoice.nombre_prov}}</td>
				<td>{{invoice.saldo.$numberDecimal | currency:'USD':true:'1.2-2'}}</td>
				<td>{{invoice.alcorr.$numberDecimal | currency:'USD':true:'1.2-2'}}</td>
				<td>{{invoice.d130.$numberDecimal | currency:'USD':true:'1.2-2'}}</td>
				<td>{{invoice.d3160.$numberDecimal | currency:'USD':true:'1.2-2'}}</td>
				<td>{{invoice.d6190.$numberDecimal | currency:'USD':true:'1.2-2'}}</td>
				<td>{{invoice.d91m.$numberDecimal | currency:'USD':true:'1.2-2'}}</td>
				<td>{{invoice.mes}}</td>
				<td>{{invoice.ano}}</td>
				<td>
					<!--<a [routerLink]="['/invoice', invoice._id]" class="btn btn-sm btn-success" style="font-size: 9px;">
						<span class="glyphicon glyphicon-eye-open"></span>
						Ver
					</a>-->
					<!--<a [routerLink]="['/admin-panel/editar', invoice._id]" class="btn btn-sm btn-primary" style="font-size: 9px;">
						<span class="glyphicon glyphicon-pencil"></span>
						Editar
					</a>
					<a href="#myModal-{{invoice._id}}" role="button" data-toggle="modal" class="btn btn-sm btn-danger" style="font-size: 9px;">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						Eliminar
					</a>-->

				<!--<div class="row card">
                	<h4>Download Section</h4>

                	<div class="row" *ngFor="let item of attachmentList; let i = index"
                		style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                    	<div class="col-sm-7">{{item.originalname}}</div>
                    	<div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" (click)="download(i)">Download</button></div>
                	</div>
            	</div>-->

					<!-- Modal HTML -->
					<div id="myModal-{{invoice._id}}" class="modal">
					    <div class="modal-dialog">
						    <div class="modal-content">
						        <div class="modal-header">
						            <h5 class="modal-title">Estas seguro?</h5>
						            <button type="button" class="close" data-dismiss="modal">&times;</button>               
						        </div>
						        <div class="modal-body">
						            <p>Seguro que quieres eliminar esta factura <strong>{{invoice.name_provider}}</strong>?</p>
   						            <p>Seguro que quieres eliminar esta factura <strong>{{invoice._id}}</strong>?</p>
						            <p class="text-secondary"><small>Si borras esta factura no podras recuperarla.</small></p>
						        </div>
						        <div class="modal-footer">
						            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						            <button type="button" class="btn btn-danger" (click)="deleteInvoice(invoice._id)">Borrar</button>
						        </div>
						    </div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!--<div class="col-lg-6">
		<router-outlet></router-outlet>
</div>-->