<div class="col-lg-10" style="font-size: 14px;margin-left: 240px;margin-top: -5px;" [@fadeLateral]>
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <!--<h1 class="mt-4 mb-3">
      <small>{{title2}}</small>
    </h1>-->
  <!-- Page Content -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Carga de Archivo CSV</h3>
        <div class="alert alert-success" *ngIf="status == 'success'">
          El archivo ha sido enviado correctamente!
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
          No selecciono archivo..por favor escoga un archivo .csv y vuelva a intentar
        </div>
    <form #formAddCSV="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <label>Subir Archivo CSV</label>
          <input type="file" placeholder="Subir archivo" (change)="fileChangeEvent($event)" accept=".csv"/>
        </p>

        <input type="submit" name="" value="{{title1}}" class="btn btn-success" />

    </form>
</div>
  <!-- /.container -->
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>