  <div class="col-lg-10" style="font-size: 14px;margin-left: 240px;" [@fadeLateral]>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      <small>{{title1}}</small>
    </h1>

    <!-- Poll Form -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Encuesta Recursos Humanos</h3>
        <div class="alert alert-success" *ngIf="status == 'success'">
			Sus respuestas han sido enviadas satisfactoriamente. Gracias..
		</div>
		<div class="alert alert-danger" *ngIf="status == 'error'">
			Hubo un error al tratar de enviar la encuesta..vuelva a intentar
		</div>
        <form name="sentMessage" #pollForm="ngForm" (ngSubmit)="onSumbit(pollForm)">
          <div class="control-group form-group">
            <div class="controls">
              <label>Pregunta 1:</label>
              <input type="text" class="form-control" id="question_one" required data-validation-required-message="Please answer the first question." name="question_one" #question_one="ngModel" [(ngModel)]="poll.question_one">
              <p class="help-block"></p>
              <span *ngIf="!question_one.valid && question_one.touched">Debe de responder la primer pregunta</span>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Pregunta2:</label>
              <input type="text" class="form-control" id="question_two" required data-validation-required-message="Please answer the second question." name="question_two" #question_two="ngModel" [(ngModel)]="poll.question_two">
              <span *ngIf="!question_two.valid && question_two.touched">Debe de responder la segunda pregunta</span>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Pregunta3:</label>
              <input type="text" class="form-control" id="question_three" required data-validation-required-message="Please answer the third question." name="question_three" #question_three="ngModel" [(ngModel)]="poll.question_three">
              <span *ngIf="!question_three.valid && question_three.touched">Debe de responder la tercer pregunta</span>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Pregunta4:</label>
              <input type="text" class="form-control" id="question_four" required data-validation-required-message="Please answer the fourth question." name="question_four" #question_four="ngModel" [(ngModel)]="poll.question_four">
              <span *ngIf="!question_four.valid && question_four.touched">Debe de responder la cuarta pregunta</span>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Pregunta5:</label>
              <input type="text" class="form-control" id="question_five" required data-validation-required-message="Please answer the fifth question." name="question_five" #question_five="ngModel" [(ngModel)]="poll.question_five">
              <span *ngIf="!question_five.valid && question_five.touched">Debe de responder la quinta pregunta</span>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!pollForm.form.valid">Enviar Encuesta</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>