<div class="col-lg-10" style="font-size: 12px;margin-left: 240px;margin-top: -10px;" [@fadeLateral]>
	<h1 class="mt-4 mb-3">Noticias
      <small>{{title1}}</small>
    </h1>
	<!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="./assets/images/news1IV.jpg" alt="">

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Noticia 1</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
          </div>
          <div class="card-footer">
            <a href="https://medium.com/@cesarfarro/como-concientizar-sobre-los-riesgos-de-informaci%C3%B3n-en-mi-empresa-7a0594e80abc" class="btn btn-primary" target="_blank" >Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Noticia 2</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
          </div>
          <div class="card-footer">
            <a href="https://elpais.com/elpais/2019/01/20/laboratorio_de_felicidad/1548019434_875365.html" class="btn btn-primary" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Noticia 3</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
          </div>
          <div class="card-footer">
            <a href="https://elpais.com/economia/2019/01/24/actualidad/1548350730_084740.html" class="btn btn-primary" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
	
</div>