<div class="col-lg-10">
<h3>{{title}}</h3>
<div class="alert alert-success" *ngIf="status == 'success'">
		El registro del animal ha sido subido a la bd correctamente
</div>
<div class="alert alert-danger" *ngIf="status == 'error'">
		No se pudo guardar el regsitro de este animal
</div>

<form #formAddAnimal="ngForm" (ngSubmit)="onSubmit()">
<p>
	<label>Nombre</label>
	<input type="text" name="name" #name="ngModel" [(ngModel)]="animal.name" class="form-control" required />
	<span *ngIf="!name.valid && name.touched">
		El nombre es un campo obligatorio
	</span>
</p>
<p>	
	<label>Descripcion</label>
	<textarea name="description" #description="ngModel" [(ngModel)]="animal.description" class="form-control" required></textarea>
	<span *ngIf="!description.valid && description.touched">
		La descripcion es campo obligatorio
	</span>
</p>
<p>	
	<label>Año</label>
	<input type="text" name="year" #year="ngModel" [(ngModel)]="animal.year" class="form-control" required />
	<span *ngIf="!year.valid && year.touched">
		El año es un campo obligatorio
	</span>
</p>

<div *ngIf="is_edit && animal.image">
	<div class="image_for_edit">
		<img src="{{url + 'get-image-file-animal/'+ animal.image}}" />		
	</div>
</div>

<p>
	<label>Subir foto Animal</label>
	<input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
</p>

<input type="submit" name="" value="{{title}}" class="btn btn-success" />

</form>
</div>