    <div class="col-lg-10" style="font-size: 14px;margin-left: 240px;margin-top: 40px;">
      <div class="container">

    <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3 breadcrumb">
        <small>Panel Administracion Usuarios - Bienvenido</small>
      </h1>
     </div>
   </div>


<div class="col-lg-1" style="font-size: 12px;">
	<div class="page-wrapper chiller-theme toggled">
	  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
	    <i class="fas fa-bars"></i>
	  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="{{url +  'get-image-file/' + identity.image}}"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{identity.name}}
            <strong>{{identity.surname}}</strong>
          </span>
          <span class="user-role">{{identity.role}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-credit-card"></i>
              <span>Finanzas</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['listado']">Antiguedad de Saldos
                    <span class="badge badge-pill badge-success">Pro</span>
                  </a>
                </li>
                <li>
                  <a href="#">Reportes</a>
                </li>
                <li>
                  <a href="#">Archivos PDF</a>
                </li>
                <li>
                  <a [routerLink]="['subir-csv']">Subir CSV</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-group"></i>
              <span>Recursos Humanos</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['rh']">Encuestas
                  </a>
                </li>
                <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                  <a [routerLink]="['list-encuestas']">Analisis de Encuestas</a>
                </li>
                <li>
                  <a href="#">Perfil Usuario</a>
                </li>
                <li>
                  <a href="#">Dias Festivos</a>
                </li>
                <li>
                  <a href="#">Induccion a la Empresa</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="far fa-gem"></i>
              <span>Utilerias</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <i class="fa fa-book"></i>
                  <a [routerLink]="['upload-files']">Carga de Archivos</a>
                  <span class="badge badge-pill badge-primary">Beta</span>
                </li>
                <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                  <a [routerLink]="['list-files']">Listado de Archivos</a>
                </li>
                <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
                  <a [routerLink]="['subir-archivos']">Subir Archivos</a>
                </li>
                <li>
                  <a href="#">Icons</a>
                </li>
                <li>
                  <a href="#">Forms</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-adjust"></i>
              <span>Comunicacion</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['commi']">Comunicacion Interna</a>
                </li>
                <li>
                  <a href="#">Comunicacion Interna 1</a>
                </li>
                <li>
                  <a href="#">Comunicacion Interna 2</a>
                </li>
                <li>
                  <a href="#">Comunicacion Interna 3</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-globe"></i>
              <span>Noticias</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['noticias']">Noticias</a>
                </li>
                <li>
                  <a href="#">Noticias 1</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Operaciones</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documentacion Calidad</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-tasks"></i>
              <span>Produccion</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-area-chart"></i>
              <span>Business Intelligence</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a (click)="logout()">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <!--<main class="page-content">
    <div class="container-fluid">
      <h2>Pro Sidebar</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>This is a responsive sidebar template with dropdown menu based on bootstrap 4 framework.</p>
          <p> You can find the complete code on <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
              Github</a>, it contains more themes and background image option</p>
        </div>
        <div class="form-group col-md-12">
          <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=star&count=true&size=large"
            frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=fork&count=true&size=large"
            frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
        </div>
      </div>
      <h5>More templates</h5>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">          
          <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar">
            <div class="card-body text-center">
                <h6 class="card-title">Angular Pro Sidebar</h6>
                <a href="https://github.com/azouaoui-med/angular-pro-sidebar" target="_blank" class="btn btn-primary btn-sm">Github</a>
                <a href="https://azouaoui-med.github.io/angular-pro-sidebar/demo/" target="_blank" class="btn btn-success btn-sm">Preview</a>
            </div>
          </div>          
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">          
          <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://user-images.githubusercontent.com/25878302/53659497-016ba380-3c5c-11e9-8dfd-4901ddaf090b.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar">
            <div class="card-body text-center">
                <h6 class="card-title">Angular Dashboard</h6>
                <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank" class="btn btn-primary btn-sm">Github</a>
                <a href="https://azouaoui-med.github.io/lightning-admin-angular/demo/" target="_blank" class="btn btn-success btn-sm">Preview</a>
            </div>
          </div>          
        </div>
      </div>
    </div>-->

    <!--<div class="col-lg-10" style="font-size: 14px;margin-left: 240px;margin-top: 95px;" [@fadeLateral]>
      <div class="container">-->

    <!-- Page Heading/Breadcrumbs -->
      <!--<h1 class="mt-4 mb-3">
        <small>Aqui pongo informacion que aparece en el Main Component</small>
      </h1>
     </div>
     </div>-->


  <!--</main>-->
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
       
</div>
<div class="col-lg-12">
	<router-outlet></router-outlet>
</div>


